<p id="notice"><%= notice %></p>

<h1>筋トレMEMO</h1>

<%= link_to '筋トレ内容', new_blog_path %>

<%= month_calendar events: @blogs do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>