<p id="notice"><%= notice %></p>

<p>
  <strong>メニュー</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>日付</strong>
  <%= @blog.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>トレーニング内容</strong>
  <%= @blog.content %>
</p>

<%= link_to '編集', edit_blog_path(@blog) %> |
<%= link_to '戻る', blogs_path %>